<form novalidate (submit)="onSubmit()" [formGroup]="subscribeForm">
  <h1>Create your account</h1>
  <button id="leave" mat-icon-button mat-dialog-close>&times;</button>
  <div id="coulmn-wrp">
  <div id="column1">
    <mat-form-field>
      <mat-label>Pseudo</mat-label>
      <input formControlName="id" type="text" matInput required />
      <mat-error>{{ formErrors.id }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input formControlName="firstname" type="text" matInput required />
      <mat-error>{{ formErrors.firstname }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom</mat-label>

      <input formControlName="lastname" type="text" matInput required />
      <mat-error>{{ formErrors.lastname }}</mat-error>
    </mat-form-field>

      <mat-form-field>
        <mat-label>Téléphone</mat-label>
        <mat-hint>({{ currentCode.code }})</mat-hint>

        <input
          formControlName="tel"
          type="tel"
          matInput
          required
          pattern="[0-9\s]*"
        />

        <mat-error *ngIf="formErrors.tel">{{ formErrors.tel }}</mat-error>
        <button type="button" matSuffix mat-raised-button [matMenuTriggerFor]="menu">
          {{ currentCode.lang }}
        </button>
      </mat-form-field>

      <mat-menu id="langList" #menu>
        <button
          mat-menu-item
          *ngFor="let code of codes"
          (click)="setLang(code)"
        >
          {{ code.lang }}
          {{ code.code }}
        </button>
      </mat-menu>
    </div>

      <div id="column2">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput />
      <mat-error>{{ formErrors.email }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pays</mat-label>
      <input formControlName="country" type="text" matInput />
      <mat-error>{{ formErrors.country }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input
        formControlName="password"
        id="password"
        type="{{ type }}"
        matInput
        required
        #psw
      />
      <mat-icon id="icon" (click)="showHidePassword()" matSuffix
        >remove_red_eye</mat-icon
      >
      <mat-error>{{ formErrors.password }}</mat-error>
    </mat-form-field>
  </div>
</div>
    <span style="color: green" *ngIf="sucessMsg" id="sucess-Msg">{{
      sucessMsg
    }}</span>
<button
[ngStyle]="{
  fontSize: '110%',
  opacity: isValid ? '1' : '0.8',
  pointerEvents: isValid ? 'initial' : 'none'
}"
[disabled]="!isValid"
type="submit"
mat-raised-button
>
Subscribe
</button>

</form>
