#find-secure {
  display: flex;
  flex-direction: row;
  height: 55vh;
  background-color: rgb(165, 227, 230);
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  box-shadow: inset 1px 0px 7px black;
}

p {
  border: 1% solid black;

  width: fit-content;
  margin: auto auto auto auto;
  font-size: 150%;

  padding: 50px 50px 30px 50px;

  font-weight: bolder;
}

#find {
  cursor: pointer;
  transition: 200ms;

  align-self: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  margin: auto auto auto auto;

  min-width: 35%;
  max-width: 250px;

  border-radius: 10px;

  &:hover {
    transform: scale(1.05);

    color: #c2185b;
  }
  cursor: pointer;
  transition: 200ms;
}

#secure {
  cursor: pointer;
  transition: 200ms;

  align-self: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  margin: auto auto auto auto;

  min-width: 35%;
  max-width: 250px;

  border-radius: 10px;

  &:hover {
    transform: scale(1.05);
    color: #c2185b;
  }
  transition: 200ms;
}

img {
  margin-bottom: 25px;

}
