<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" >

<mat-card fxFlex="40" class="inputBox" fxLayoutAlign="center center"  >


    <mat-card-content >
        <form (ngSubmit)="onSubmitCode()" novalidate [formGroup]="sendCodeForm"  fxLayout="column">
<mat-form-field fxFlex fxLayoutAlign="center start" fxLayout="column" >
    <input #code formControlName="code" minlength="5" maxlength="5"  matInput placeholder="Enter de code">
</mat-form-field>
<button  type="submit" [ngStyle]="{opacity:isValid ? '1' : '0.5',pointerEvents:isValid ? 'initial' : 'none'}" mat-button [disabled]="!isValid">Verify</button>
</form>
</mat-card-content>
 </mat-card>

 <mat-card  fxLayoutAlign="center center"class="inputBox" fxFlex="40">

    <mat-card-content >
        <form (ngSubmit)="onSubmitCode()" novalidate [formGroup]="sendCodeForm"  fxLayout="column">
    <input type="file">

<button  type="submit" [ngStyle]="{opacity:isValid ? '1' : '0.5',pointerEvents:isValid ? 'initial' : 'none'}" mat-button [disabled]="!isValid">Upload</button>
</form>
</mat-card-content>

 </mat-card>
</div>