<div id="menubar">
<div
id="menu-lang"
[ngStyle]="{
  height: isLangMenuSet ? '175px' : '25px'
}"
>
<li id="select">
  <div id="fr">fr</div>
  <div id="en">en</div>
  <div id="de">de</div>
</li>

<svg
  (click)="setLangMenu()"
  [ngStyle]="{
    display: isLangMenuSet ? 'none' : 'inline'
  }"
  xmlns="http://www.w3.org/2000/svg"
  width="25"
  height="25"
  fill="currentColor"
  class="bi bi-arrow-down-short"
  viewBox="0 0 16 16"
>
  <path
    fill-rule="evenodd"
    d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"
  />
</svg>
<svg
  (click)="setLangMenu()"
  [ngStyle]="{
    display: isLangMenuSet ? 'inline' : 'none'
  }"
  xmlns="http://www.w3.org/2000/svg"
  width="20"
  height="20"
  fill="currentColor"
  class="bi bi-x"
  viewBox="0 0 16 16"
>
  <path
    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
  />
</svg>
</div>
</div>