
<div id="wrp" >

        <button id="leave" mat-icon-button mat-dialog-close>&times;</button>
        <h1>Connection</h1>

<form (submit)="loginUser(id.value,psw.value)">


    <mat-form-field>
        <input placeholder="ID" #id type="text" matInput>
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Password" #psw type="password" matInput>
    </mat-form-field>
    <button type="submit" mat-raised-button>Connection</button>


</form>

<p>
  Vous n'êtes pas encore inscrit ?
<span (click)="openRegisterForm()">Inscrivez-vous</span>
</p>

</div>
