
<mat-card class="container">


    <mat-list fxLayoutAlign="end end" fxFlex="10" fxLayout="row">
             

        <mat-list-item fxFlex="12">
            <a fxFlex="100" *ngIf="!isConnected" mat-raised-button mat-button   (click)="openLoginForm()">   Login</a>
    
            <a fxFlex="100" *ngIf="isConnected" mat-raised-button mat-button   (click)="logout()">   Logout</a>
        </mat-list-item>
      <mat-list-item *ngIf="isConnected" fxFlex="12"> <a fxFlex mat-raised-button mat-button   routerLink="/user">   User space</a></mat-list-item> 
        
<mat-list-item *ngIf="isConnected" fxFlex="12"><a fxFlex mat-raised-button  mat-button routerLink="/admin">   Admin space</a></mat-list-item>

<mat-list-item fxFlex="12">
    <a fxFlex="100" mat-raised-button mat-button   (click)="openRegisterForm()">   Register</a>
</mat-list-item>

    </mat-list>
    <div>
        <h1>Trouvex</h1>
    </div>

    <app-volet ></app-volet>





    <div id="navigation">
    <app-menubar></app-menubar>

<router-outlet></router-outlet>
</div>

</mat-card>










