.dialog {
  display: flex;
background-color: red;
  }

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: stretch;
  overflow-y: auto;
  overflow-x: hidden;
}

#title {
  position: absolute;
  z-index: 10;
font-weight: bold;
text-shadow: 1px 2px 5px white;
}

#outlet {
  width: 100%;
  min-height: max-content;
  height: var(--outletHeight);
  position: relative;
  z-index: 5;
  margin: 0;
  display: flex;
  align-items: center;
}

#top-bar {
border-radius: 0 0 12px 12px;
display: flex;
justify-self: center;
justify-content: center;
background-color: transparent;

box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.404);
align-items: center;
position: relative;
height: var(--menuHeight);
z-index: 20;
padding: 0 12px 0 6px;
width: fit-content;

}

@keyframes showingUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

#tools-wrap {
  position: fixed;
  bottom: 50%;
  margin-bottom: -calc(var(--outletHeight) / 2);
  left: calc(  var(--toolsLogoWidth) - var(--toolWrapperWidth) - var(--toolsLogoWidth) + 12px );

  border-radius:0 12px 12px 0;
  transition: 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  #closed-svg {
display: none;
  }
  #opened-svg {
    display: none;
}
#search-svg {
  display: none;
}

  &.open-tool-window {
    #closed-svg {
      display: initial;
        }
        #opened-svg {
          display: initial;
      }
      #search-svg {
        display: initial;
      }
    svg {
      display: initial;
    }
left: 0;
background-color: var(--darkBlueTheme);

  }
#tools-logo-closed {
  background-color: white;
border-radius: 50%;
fill: var(--darkBlueTheme);
width: var(--toolsLogoWidth);
height: var(--toolsLogoHeight);
padding: 12px 12px 12px 12px;
transition: 200ms ease;

&:hover {
  fill: white;
  background-color: var((--darkBlueTheme));
}
}


#tools-logo-open {
  background-color: var((--darkBlueTheme));
border-radius: 50%;
fill: white;
width: var(--toolsLogoWidth);
height: var(--toolsLogoHeight);
padding: 12px 12px 12px 12px;

}

}

#selected-marker {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

height: fit-content;

text-align: center;

}

#search-area {
  background-color: white;
  transition: 300ms ease;
  position: absolute;
  width: 390px;
  height: fit-content;

  padding: 12px;
  gap: 21px;
  z-index: 200;
  color: var(--darkBlueTheme);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 62px; // 62px (height) + padding (12px)
  border-radius:0 12px 12px 0;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    width: 100%;
mat-form-field {
  height: 75px;
  width: 100%;
  font-size: 90%;


}
  }
}
.search-opened {
  left: 0;
}
.search-closed {
left: -390px;
}
#signals-button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  gap: 21px;
  height: 100%;
  overflow: hidden;
  width: var(--toolWrapperWidth);
  #closed-svg {

    position: relative;
    border-radius: 50%;
    z-index: 15;
transition: 350ms ease;
width: 30px;
height: 30px;
fill: white;
background-color: var(--darkBlueTheme);
border:2px solid var(--darkBlueTheme);
&:hover {
  background-color: white ;


  fill: var(--darkBlueTheme);
}
      }
      #opened-svg {

        position: relative;
        border-radius: 50%;
        z-index: 15;
    transition: 350ms ease;
    width: 35px;
    height: 35px;
    fill: white;
    background-color: var(--darkBlueTheme);
    border:2px solid var(--darkBlueTheme);
    &:hover {
      background-color: white ;


      fill: var(--darkBlueTheme);
    }
    }



    #search-svg {
      z-index: 15;
  transition: 350ms ease;
  width: 37px;
  height: 37px;
border-radius: 50%;
background-color:var(--darkBlueTheme);

&.activated {
  background-color: white ;


  fill: white;
  path {
    stroke: var(--darkBlueTheme);
  }
}

  &:hover {
    background-color: white ;


    fill: white;
    path {
      stroke: var(--darkBlueTheme);
    }
  }
  }

  animation: showingUp 500ms ease alternate forwards;

}

mat-list { // Buttons wrapper
  display: flex;
  align-items: center;
  justify-content: space-around;
height: 100%;


right: 3vw;
gap: 12px;
top: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
border: none;
background-color: transparent;
  width: 75px;
  min-width: fit-content;
  font-family: inherit;
  color: var(--darkBlueTheme);

  cursor: pointer;
  transition: 300ms ease;
  position: relative;



}

.map-wrapper {
  position: relative;
height: 100%;
display: flex;
justify-content: center;
  &::after {
    content: " ";
    background-color: var(--darkBlueTheme);
    height: 3px;
  width: 0%;
    position: absolute;
    bottom: -8px;
    transition: 175ms ease;
  }
}
.map {
  &::after {
    width: 100%;

  }

  svg { // svg style when map view activated
    transition: 200ms ease;
    fill: var(--darkBlueTheme);
    width: 25px;
    height: 25px;
  }
}


#activated {
  color: var(--darkBlueTheme);
}

.lang-wrapper {
position: relative;
height: 25%;
display: flex;
justify-content: center;
transition: 175ms ease;

min-height: fit-content;
&::after {
  content: " ";
  background-color: var(--darkBlueTheme);
  height: 3px;
width: 0%;
  position: absolute;
  bottom: -8px;
  transition: 175ms ease;

}
}
#lang-wrp-after {
height: 100%;
  &::after {
    width: 100%;
  }
}

#lang-subwrap {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
bottom: -8px;
position: absolute;
z-index: 10;
height: 0;
width: 100%;
gap: 1px;
display: flex;
span {
  cursor: pointer;
  position: relative;
  transition-timing-function: ease;
  width: 100%;
color: white;
text-align: center;
animation: shadeIn ease 100ms   both ;
background-color: var(--semiDarkBlueThem);
padding: 2px 0 2px 0;
transition: 175ms ease;

&:hover {
  background-color: var(--darkBlueTheme);
  color: white;
}

&:last-of-type {
  border-radius: 0 0 7px 7px;
}
}
}

@keyframes shadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);

    opacity: 1;
  }

}


#volet-button {
  position: fixed;
  z-index: 100;
justify-self: right;
top: calc(var(--menuHeight) - var(--menuHeight) * 0.7);;
right: 0;
  svg {
    z-index: 100;
  position: relative;
    border-radius: 50%;
right: 0;
transition: 350ms ease;
width: 27px;
height: 27px;
fill: var(--darkBlueTheme);
background-color: white;
border: 2px solid var(--darkBlueTheme);

&:hover {
  background-color: white;


  fill: var(--darkBlueTheme);
}

&.close {
  transform: scale(0.8);
}
  }
}
#lang-button {
  &:hover {
    #lang-subwrap {
      display: flex;

    }

  }
}
h1 {
color: var(--darkBlueTheme);
  width: fit-content;
  margin: 2vh auto 5vh 3vh;
  font-weight: initial;

}
#logo {
  position: relative;

height: 25%;
}

svg {
width: 40px;
  cursor: pointer;
  &:hover {
    #mve {
      transform: rotate(3deg) ;

    }
  }
}

#mve {
  transition: 350ms ease;

}


