
#wrapper  {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  justify-content: space-around;
}

#input-wrp {
img {
  height: 175px;//  height: 100%;
  width: 220px; //   width: 100%;
}
}

ol {
  li {
    list-style: none;
}
}
