

<div id="volet" [ngStyle]="{ left: isLeftMenuUp ? '0' : '-30vw',boxShadow: isLeftMenuUp ? '20px 0px 13px -10px  rgba(0,0,0,0.6)' : 'none' }">

  <div id="wrapper">

<div id="titles">
  <h1>Espace personnel</h1>
</div>


  <div
    id="circle"
    (click)="setLeftMenu()"
    [ngStyle]="{ right: isLeftMenuUp ? '-30px ' : '' }"
  >
<img       [ngStyle]="{
  transform: isLeftMenuUp ? 'rotate(180deg)' : 'rotate(0deg)'
}"
id="barArrow" src="../../../assets/images/arrow.svg">
  </div>
<div id="list">
  <li>
    <button
    >Enregistrer un objets
    <img  src="../../../assets/images/arrow.svg">

    </button>
  </li>
  <li>
       <button routerLink="user" >
        Liste de possesions
        <img src="../../../assets/images/arrow.svg">

       </button>

  </li>
  <li>
       <button routerLink="lost" >
        Signaler une perte
        <img src="../../../assets/images/arrow.svg">

       </button>
  </li>
  <li>
    <button routerLink="found" >
      Signaler une trouvaille
      <img src="../../../assets/images/arrow.svg">

</button>

  </li>
  <li>
       <button routerLink="map" >
        Carte des objets trouvé
<img src="../../../assets/images/globe-americas.svg">
       </button>
  </li>
</div>


<button style="background-color:inherit" mat-raised-button>Langue</button>
</div>
</div>
