<div id="wrp">
<mat-card  class="inputBox"  >
    <mat-card-content >
        <form (ngSubmit)="onSubmitCode()" novalidate [formGroup]="sendCodeForm"  fxLayout="column">
<mat-form-field  >
    <input #code formControlName="code" minlength="5" maxlength="5"  matInput placeholder="Entrez le code">
</mat-form-field>
<button  type="submit" [ngStyle]="{opacity:isValid ? '1' : '0.5',pointerEvents:isValid ? 'initial' : 'none'}" mat-button [disabled]="!isValid">Verify</button>
</form>
</mat-card-content>
 </mat-card>

 <mat-card class="inputBox">
<mat-card-title>Pourriez-vous nous transmettre une preuve de possesion l'objet en photo ?</mat-card-title>
    <mat-card-content >
        <form (ngSubmit)="onSubmitCode()" novalidate [formGroup]="sendCodeForm">
    <input type="file">

<button  type="submit" [ngStyle]="{opacity:isValid ? '1' : '0.5',pointerEvents:isValid ? 'initial' : 'none'}" mat-button [disabled]="!isValid">Upload</button>
</form>
</mat-card-content>

 </mat-card>
</div>
