
<h1>Create your account</h1>
    <form
      novalidate
      (submit)="onSubmit()"
      [formGroup]="subscribeForm"
      fxLayoutAlign="center center"
      fxLayout="column"

    >
      <div fxFill fxLayout="row" fxLayoutGap="10vw">
        <div fxFlex fxLayoutGap="20px" id="column1" fxLayout="column">
            <mat-form-field>
                <input
                  formControlName="id"
                  type="text"
                  placeholder="Pseudo name"
                  matInput
                  required
                />
                <mat-error>{{formErrors.id}}</mat-error>
              </mat-form-field>
          <mat-form-field>
            <input
              formControlName="firstname"
              type="text"
              placeholder="Firstname"
              matInput
              required
            />
            <mat-error>{{formErrors.firstname}}</mat-error>
          </mat-form-field>
  
          <mat-form-field>
            <input
              formControlName="lastname"
              type="text"
              placeholder="Lastname"
              matInput
              required
            />
            <mat-error>{{formErrors.lastname}}</mat-error>
          </mat-form-field>
          <div fxFlex  fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
            <label fxFlex="5" id="label" style="width: fit-content;">{{currentCode.code}}</label>
  
            <mat-form-field  fxFlex="100" fxLayout="row"  >
  
            <input
              formControlName="tel"
              type="tel"
              placeholder="Telephone number"
              matInput
              required
              pattern="[0-9\s]*"
  
            />
  
            <mat-error  *ngIf="formErrors.tel" >{{formErrors.tel}}</mat-error>
          </mat-form-field>
          <button style="border: none;background-color: rgb(94, 94, 94);" type="button" mat-button  [matMenuTriggerFor]="menu">{{currentCode.lang}} </button>
  <mat-menu id="langList"  yPosition="above" xPosition="after" fxLayoutAlign="space-evenly space-evenly"  #menu >
  
  <button  fxFlex fxFill mat-menu-item *ngFor="let code of codes" (click)="setLang(code)">
  {{code.lang}}
  {{code.code}}
  
  </button>
  </mat-menu>
  
        </div>
          <mat-form-field>
            <input
              formControlName="email"
              type="email"
              placeholder="Email"
              matInput
            />
            <mat-error>{{formErrors.email}}</mat-error>
          </mat-form-field>
        </div>

        
        <div fxFill fxFlex id="column2" fxLayoutGap="25px" fxLayout="column">

            <mat-form-field>
                <input
                  formControlName="country"
                  type="text"
                  placeholder="Country"
                  matInput
                />
                <mat-error>{{formErrors.country}}</mat-error>
              </mat-form-field>
          <mat-form-field>
            <input
            formControlName="password"
              id="password"
              placeholder="Password"
              type="{{ type }}"
              matInput
              fxLayout="row"
              required
            />
            <mat-icon id="icon" (click)="showHidePassword()" matSuffix>remove_red_eye</mat-icon
            >
            <mat-error>{{formErrors.password}}</mat-error>
          </mat-form-field>          

        </div>
      </div>
      <button
      fxFlex="25"
        [ngStyle]="{fontSize:'140%',
          opacity: isValid ? '1' : '0.5',
          pointerEvents: isValid  ? 'initial' : 'none'
        }"
        [disabled]="!isValid "
        type="submit"
        mat-raised-button
      >
        Subscribe
      </button>
    </form>

  