#find-secure {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-self: center;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100vw;
}

mat-card {
  padding: 75px;
  display: flex;
  flex-direction: column;
}

span {
  width: fit-content;
  font-size: 150%;
}

#find {
  cursor: pointer;
  transition: 200ms ease;
  align-self: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  min-width: 35%;
  max-width: 250px;
  cursor: pointer;
  transition: 200ms;
}

#secure {
  cursor: pointer;
  transition: 200ms ease;
  align-self: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  width: fit-content;
  transition: 200ms;
}

img {
  margin-bottom: 25px;

}
