/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Flex:wght@200&display=swap');


* {
    box-sizing: border-box;
}

:root{
  --menuHeight:7vh;
  --outletHeight:88vh;
  --dragNDropHeight:250px;
  --lightBlueTheme:#7daff0;
  --semiDarkBlueThem:rgba(14, 70, 161,0.7);
  --darkBlueTheme:#0c3370;
  --violetThem:rgb(184, 68, 199);
  --toolWrapperWidth: 150px;
  --toolsLogoWidth: 55px;
  --toolsLogoHeight: 55px
  }
  ::-webkit-scrollbar {
    width: 10px;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(199, 205, 207);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: var(--darkBlueTheme);

  }

body {
background-color: #72aeff;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
  }


  .map-container {
    width: 100% !important;
    height: 100% !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

